{% extends "dashboard/base.html" %}
{% load materializecss %}
{% load i18n %}
{% load mptt_tags %}
{% load static %}

{% block title %}
  {% if shipping_zone.pk %}
    {% trans "Edit" context "Dashboard shipping zones" %} - {{ shipping_zone }}
  {% else %}
    {% trans "Add new shipping zone" context "Shipping zone form page title" %}
  {% endif %}
  - {{ block.super }}
{% endblock %}

{% block body_class %}body-shipping-zones{% endblock %}

{% block menu_delivery_class %}active{% endblock %}

{% block page_title %}
  {% if shipping_zone.pk %}
    {{ shipping_zone }}
  {% else %}
    {% trans "Add new shipping zone" context "Shipping zone form page title" %}
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url 'dashboard:shipping-zone-list' %}">
        {% trans "Shipping zones" context "Dashboard shipping zone" %}
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url 'dashboard:shipping-zone-list' %}">
        <svg data-src="{% static "dashboard/images/arrow-left.svg" %}" fill="#fff" width="20px" height="20px" />
      </a>
    </li>
    {% if shipping_zone.pk %}
    <li>
      <a href="{% url 'dashboard:shipping-zone-details' shipping_zone.pk %}" class="breadcrumbs--ellipsed-item">
        {{ shipping_zone }}
      </a>
    </li>
    <li>
      <span class="breadcrumbs--ellipsed-item">
        {% trans "Edit" context "Shipping zone form page title" %}
      </span>
    </li>
    {% else %}
    <li>
      <span class="breadcrumbs--ellipsed-item">
        {% trans "Add new shipping zone" context "Shipping zone form breadcrumbs" %}
      </span>
    </li>
    {% endif %}
  </ul>
{% endblock %}

{% block menu_shipping_class %} active{% endblock %}

